.shadow{
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.060),
  0 6.7px 5.3px rgba(0, 0, 0, 0.075),
  0 12.5px 10px rgba(0, 0, 0, 0.09),
  0 22.3px 17.9px rgba(0, 0, 0, 0.1),
  0 41.8px 33.4px rgba(0, 0, 0, 0.1) !important;
}
.cards{
    max-width: 100% !important;
}
.card{
    margin: 18px !important;
    border-radius: 8px !important;
    background-color: transparent !important;
    transition: 0.3s ease !important;
}
.card *{
    background-color: transparent !important;
    border: none !important;
}
.card:hover{
    border: none !important;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.1),
    0 6.7px 5.3px rgba(0, 0, 0, 0.1),
    0 12.5px 10px rgba(0, 0, 0, 0.1),
    0 22.3px 17.9px rgba(0, 0, 0, 0.15),
    0 41.8px 33.4px rgba(0, 0, 0, 0.15) !important;
    transform: none !important;
}
.ui.cards>.card>:first-child{
    margin: 0px;
    aspect-ratio: 4/4;
    object-fit: cover;
    -o-object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 8px 8px 0px 0px !important;
    height:auto;
}
.ui.inverted.card>.content>.header, .ui.inverted.cards>.card>.content>.header{
    font-size: 1.5em !important;
}
.ui.inverted.card>.content>.header, .ui.inverted.cards>.card>.content>.header,.description{
    text-align: center;
}
.ui.inverted.cards > .card > .content, .ui.inverted.card > .content{
    border-radius: 0px 0px 8px 8px  !important;
    border: none !important;
    background-image: linear-gradient(0deg, #1b1b1b , #3b3b3b );}
