<div class="ui inverted vertical footer segment"  >
    <div class="ui container" style="padding: 20px 0px;">
        <div class="ui stackable inverted divided equal height stackable grid" style="border: none;margin:0px">
            <div class="five wide column">
                <h3 class="ui inverted header">HOME PORTAL TEAM</h3>
                <div class="ui inverted list" style="list-style-type: none;">
                    <li>Real Estate Professionals</li>
                    <li>HOMELIFE/MIRACLE REALTY LTD.</li>
                    <p>
                        <li>📧 <a href="mailto:thehomeportalteam@gmail.com">thehomeportalteam@gmail.com</a></li>
                        <li>☎️ <a>(647) 492-2666</a></li>
                    </p>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Links</h4>
                <div class="ui inverted link list">
                  <a href="#" class="item">Home</a>
                  <!-- <a href="#" class="item">Real estate services</a> -->
                  <a href="#" class="item">Pre-Construction</a>
                  <a href="#" class="item">Area Alerts</a>
                  <a href="#" class="item">Home Evaluation</a>
                  <a href="#" class="item">About</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">Disclaimer</h4>
                <p style="font-size: 0.7em;">This website is not intended to solicit buyers or sellers currently under contract with a brokerage. Homelife/miracle realty ltd., brokerage and the home portal team does not represent nor is the exclusive brokerage for the developer. We do not guarantee accuracy of the information and do not take responsibility for changes to renderings, floorplans, prices and other content related to this project. All illustrations/renderings are artist’s concepts only. The general orientation of the proposed project/development or existing structures do not represent or guarantee specific aspects of the projects or views from any particular unit or location. Certain design elements, images and views are subject to change without notice and without any liability being incurred by us. We do not use or distribute names to any third party.</p>
                
            </div>
        </div>
    </div>
</div>