{% extends 'base.html' %}
{% load static %}

{% block title %} Pre-construction {% endblock %}

{% block head_styles %}
<link rel="stylesheet" href='{% static "app/styles/form_page.css" %}'>
{% endblock %}

{% block body %}

<!-- Form poster starts -->
<div class="form-poster">
  <div class="fp-container invertme">

    <h1 class="fp-header">PRE-CONSTRUCTION</h1>
    <br>
    <p class="fp-desc">It's no secret, pre-construction real estate yields amazing investment opportunities - however, finding the right project at the right time isn't always easy. Utilizing the exclusive access below, you can get informed with all the hottest pre-construction real estate automatically! Register below to receive floor plans, pricing, exclusive invitations, and private showings to exciting pre-construction homes and condos - ABSOLUTELY FREE.
    </p>
  </div>
</div>
<!-- Form poster starts -->

<!-- Form wrapper starts -->
<div class="wrapper">
  <form method="POST" action="{% url 'referred_pre_construction_form' %}" class="ui form" action="{% url 'pre_construction_form' %}" method="POST">
    {% csrf_token %}
    <h3 class="ui dividing header">Pre-construction form</h3>
    <div class="field">
      <label>Personal info</label>
      <div class="two fields">
        <div class="field">
          <input type="text" autocorrect="off" name="firstname" placeholder="Enter your first name">
        </div>
        <div class="field">
          <input type="text" autocorrect="off" name="lastname" placeholder="Enter your last name">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <input type="email" autocorrect="off" name="email" placeholder="Enter your e-mail">
        </div>
        <div class="field">
          <input type="text" autocorrect="off" name="contact" placeholder="Enter your contact number">
        </div>
      </div>
      <label>Desired property info</label>
      <div class="three fields">
        <div class="field">
          <div class="ui selection dropdown">
            <input type="hidden" name="property_type">
            <i class="dropdown icon"></i>
            <div class="default text">Desired property type</div>
            <div class="menu">
              <div class="item" data-value="1">Detached</div>
              <div class="item" data-value="2">Semi-detached</div>
              <div class="item" data-value="4">Townhome</div>
              <div class="item" data-value="5">Condominium</div>
              <div class="item" data-value="6">Cottage</div>
              <div class="item" data-value="7">Land</div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui selection dropdown">
            <input type="hidden" name="price_range">
            <i class="dropdown icon"></i>
            <div class="default text">Desired price range</div>
            <div class="menu">
              <div class="item" data-value="1">&#36;0 - &#36;150,000</div>
              <div class="item" data-value="2">&#36;150,000 - &#36;250,000</div>
              <div class="item" data-value="2">&#36;250,000 - &#36;350,000</div>
              <div class="item" data-value="2">&#36;350,000 - &#36;450,000</div>
              <div class="item" data-value="2">&#36;450,000 - &#36;550,000</div>
              <div class="item" data-value="2">&#36;550,000 - &#36;650,000</div>
              <div class="item" data-value="2">&#36;650,000 - &#36;750,000</div>
              <div class="item" data-value="2">&#36;750,000 - &#36;850,000</div>
              <div class="item" data-value="2">&#36;850,000 - &#36;950,000</div>
              <div class="item" data-value="2">&#36;950,000 - &#36;1,250,000</div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui selection dropdown">
            <input type="hidden" name="time_frame">
            <i class="dropdown icon"></i>
            <div class="default text">Timeline to purchase</div>
            <div class="menu">
              <div class="item" data-value="1">3 months</div>
              <div class="item" data-value="2">6 months</div>
              <div class="item" data-value="4">9 months</div>
              <div class="item" data-value="5">1 year</div>
            </div>
          </div>
        </div>
      </div>
      <label>Realtor info</label>
      <div class="two fields">
        <div class="field">
          <div class="ui selection dropdown">
            <input type="hidden" name="is_realtor">
            <i class="dropdown icon"></i>
            <div class="default text">Are you a realtor?</div>
            <div class="menu">
              <div class="item" data-value="1">Yes</div>
              <div class="item" data-value="0">No</div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui selection dropdown">
            <input type="hidden" name="works_with_realtor">
            <i class="dropdown icon"></i>
            <div class="default text">Are you working with a realtor?</div>
            <div class="menu">
              <div class="item" data-value="1">Yes</div>
              <div class="item" data-value="0">No</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <input type="submit" class="ui primary right floated shadowed button" value="Submit">
    </div>
  </form>
  <br>
  <br>
  <br>
</div>
<!-- Form poster ends -->

{% endblock body %}

{% block end_scripts %}
<script>
  $('.dropdown')
  .dropdown();

  $('.ui.form').form({
    fields: {
      firstname           : 'empty',
      lastname            : 'empty',
      email               : 'empty',
      contact             : 'empty',
      property_type       : 'empty',
      price_range         : 'empty',
      time_frame          : 'empty',
      is_realtor          : 'empty',
      works_with_realtor  : 'empty'
    }
  });
</script>
{% endblock end_scripts %}
        